<div class="pwreset-page">
  <div class="container reset-form">
    <div class="reset">
    <hgroup>
  <h1>IDEANOTE</h1>
  <h3>Reset Password</h3>
</hgroup>

<form>
  <div class="group">
    <input type="password" id="password"><span class="highlight"></span><span class="bar"></span>
    <label class="password-label">New Password</label>
  </div>
  <div class="group">
    <input type="password" id="password_confirmation"><span class="highlight"></span><span class="bar"></span>
    <label class="confirm-label">Password Confirm</label>
  </div>
  <button type="button" class="button buttonBlue">SEND
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>

<!-- <footer><a href="http://www.polymer-project.org/" target="_blank"><img src="https://www.polymer-project.org/images/logos/p-logo.svg"></a>
  <p>You Gotta Love <a href="http://www.polymer-project.org/" target="_blank">Google</a></p>
</footer> -->
  </div>

  <div class="result" style="">
    <h1 class="status">SUCCESS</h1>
    <h3 class="message">비밀번호 변경을 완료했습니다!!</h3>
  </div>

  </div>
</div>

<script type="text/javascript">
$('.result').css('display', 'none');

function isValidPassword(password) {
  var regexPw = /^(?=.*[a-z])(?=.*[0-9]).{4,30}$/;
  return regexPw.test($.trim(password));
}

  $('.button').on('click', function(e) {
    if( !isValidPassword($('#password').val()) ) {
      $('.password-label').text('비밀번호는 4글자 이상, 숫자를 포함하여 만들어주세요.');
      $('.password-label').css('color', 'red');
      return false;
    } else {
      $('.password-label').text('New Password');
      $('.password-label').css('color', '#999');
    }

    if( $('#password').val() != $('#password_confirmation').val() ) {
      $('.confirm-label').text('비밀번호와 일치하지 않습니다.');
      $('.confirm-label').css('color', 'red');
      return false;
    } else {
      $('.confirm-label').text('Password Confirm');
      $('.confirm-label').css('color', '#999');
    }

    $.ajax({
      type: "POST",
      url: "<%= params[:id] %>",
      data: { user: { 
        password: $('#password').val(),
        password_confirmation: $('#password_confirmation').val()
         } },
      success: function(data) {
        $('.reset').css('display', 'none');
        $('.result').css('display', 'inline-block');
        $('.result .status').text("SUCCESS!!");
        $('.result .message').text("비밀번호 변경을 완료했습니다.");
      },
      error: function(data) {
        $('.reset').css('display', 'none');
        $('.result').css('display', 'inline-block');
        $('.result .status').text("ERROR!!");
        $('.result .message').text("TOKEN이 유효하지 않습니다.");
      }
    });
  });
  
</script>