<table>
  <tbody>
    <tr>
        <td>

          <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tbody>
              <tr>
                <td width="5%"></td>
                <td valign="top" width="90%">
                  <hr style="border-top:2px solid #284B91;border-bottom:0px;">
                  <!-- color: #284B91; -->
                  <h2 style="color: #284B91; text-align: center; font-size: 21px">아이디어노트에 가입하신 것을 환영합니다!</h2>
                  <p style="text-align:center; color: #5B5B73; font-size:16px; line-height:25px; margin: 16px 0 0 0!important;">
                  당신의 ID는 <strong style="color: #000000;"><%= @user.email %></strong>입니다.</p>
                </td>
                <td width="5%"></td>
              </tr>
            </tbody>
          </table>

        </td>
    </tr>

    <tr>
      <td height="0px" width="100%"></td>
    </tr>

    <tr>
      <td valign="top">
        <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%">
         <tbody>
          <tr>
            <td width="5%"></td>
            <td valign="top" width="90%">
              <p style="text-align:center;margin-bottom:10px;margin-top: 10px;">
                  <!-- <a href="<%= confirmation_url(@resource, confirmation_token: @token) %>" style="display:inline-block;margin-top:10px;margin-bottom:10px;padding:16px 34px;background:#F9A75A;border-radius:8px;font-weight:normal;font-size:25px;color:white;text-decoration:none" target="_blank">아이디어노트 가입완료</a> -->
              </p>

              <p style="text-align:center;font-size:15px;line-height:22px;margin: 10px 0 0 0!important;padding:0;color:#666666;">
                <strong>쇼미더앱스로 광고하세요!</strong>
              </p>
              <p style="text-align:center;font-size:13px;line-height:22px;margin: 10px 0 0 0!important;padding:0;color:#5B5B73;">
                - 자신의 아이디어를 공유해보세요<br>
                - 다른 유저와 생각을 공유해보세요<br>
                <!-- - 계정관리에서 당신의 업데이트 광고들을 모아볼 수 있어요! -->
              </p>

              <p style="text-align: center; margin-top: 70px; font-size: 15px;margin: 10px 0 0 0!important;padding:0;color: #5B5B73">
                궁금한 사항은 <strong style="color: #F9A75A; font-weight:300;">contact@showmetheapps.co</strong>로 연락주세요.
              </p>

              <hr style="border-top:2px solid #284B91;border-bottom:0px;">

              <p style="font-size:11px;line-height:19px;color:#a7a7a7;padding-left:0px;">Copyright © 2015 쇼미더앱스, Inc., All rights reserved.</p>
            </td>
            <td width="5%"></td>
          </tr>
         </tbody>
        </table>
      </td>
    </tr>

  </tbody>
</table>